* {
    min-height: 0;
    min-width: 0;
}

#root {
    overflow: hidden;
}

.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-intro {
    font-size: large;
}

.lineDiag-wrapperRight {
    -webkit-transform: skewY(-1deg);
    -moz-transform: skewY(-1deg);
    -ms-transform: skewY(-1deg);
    -o-transform: skewY(-1deg);
    transform: skewY(-1deg);
}

.lineDiag-contentRight {
    -webkit-transform: skewY(1deg);
    -moz-transform: skewY(1deg);
    -ms-transform: skewY(1deg);
    -o-transform: skewY(1deg);
    transform: skewY(1deg);
}

.lineDiag-wrapperLeft {
    -webkit-transform: skewY(1deg);
    -moz-transform: skewY(1deg);
    -ms-transform: skewY(1deg);
    -o-transform: skewY(1deg);
    transform: skewY(1deg);
}

.lineDiag-contentLeft {
    -webkit-transform: skewY(-1deg);
    -moz-transform: skewY(-1deg);
    -ms-transform: skewY(-1deg);
    -o-transform: skewY(-1deg);
    transform: skewY(-1deg);
}

.slick-arrow.slick-prev {
    background: url('../public/icon_arrow_left.svg') no-repeat !important;
}

.slick-arrow.slick-next {
    background: url('../public/icon_arrow_right.svg') no-repeat !important;
}

.slick-next,
.slick-prev {
    height: 30px !important;
    width: 15px !important;
}

.slick-next::before,
.slick-prev::before,
.slick-next::before,
[dir="rtl"] .slick-prev::before {
    display: none;
}

header {
    position: fixed;
    top: -20px;
    right: 0;
    left: 0;
    z-index: 1000;
    height: 100px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#55a549+0,a6c222+100 */
    background: #55a549;
    /* Old browsers */
    background: -moz-linear-gradient(top, #55a549 0%, #a6c222 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #55a549 0%, #a6c222 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #55a549 0%, #a6c222 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#55a549', endColorstr='#a6c222', GradientType=0);
    /* IE6-9 */
}

header .container-fluid {
    top: 10px;
}

header .container-fluid,
header .container-fluid .row {
    height: 100%;
}

.teampulse-logo,
.race-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.teampulse-logo img {
    width: 100%;
    max-width: 289px;
    /*max-height:50px;*/
}

.race-logo {
    justify-content: flex-start;
}

.race-logo img {
    width: 100%;
    max-width: 111px;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.footer img {
    max-width: 150px;
    max-height: 90px;
}

.footer img.vaud {
    max-width: 140px;
}

.footer img.heig {
    max-width: 160px;
}

footer {
    position: relative;
    height: 200px;
}

.footer {
    position: absolute;
    bottom: -15px;
    left: 0px;
    right: 0px;
    -webkit-box-shadow: 0px 0px 13px 5px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 13px 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 13px 5px rgba(0, 0, 0, 0.15);
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: #fff;
}

.footer .container-fluid {
    margin-top: -5px;
    margin-bottom: -5px;
}

.logos-sponsors {
    width: 100%;
    display: inline-flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    flex-flow: flex-start;
}

.logo-sponsor {
    display: flex;
    margin: 20px;
    align-items: center;
}

#statsSlider .carousel-indicators--round {
    margin-bottom: 0;
}

#statsSlider .carousel-indicators--round li {
    border-radius: 10px;
    margin: 1px 3px;
    height: 10px;
    max-width: 10px;
    border: 1px solid #ccc;
    background-color: transparent;
}

#statsSlider .carousel-indicators .active {
    background-color: #ccc;
    max-width: 12px;
    margin: 0 3px;
    height: 12px;
}

.stat {
    margin-top: 10px;
}

@media(max-width: 992px) {
    iframe {
        pointer-events: none;
    }
    #section-2.lineDiag-wrapperRight,
    #section-2 .lineDiag-contentRight {
        transform: none;
    }
    #section-1 {
        max-width: 100% !important;
        width: 100% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .footer img {
        max-height: 60px;
        max-width: 100px;
        margin-bottom: 20px;
    }
    .footer img.vaud {
        max-width: 90px;
    }
    .footer img.heig {
        max-width: 110px;
    }
    footer {
        height: 200px;
    }
    .footer {
        bottom: -20px;
        margin-top: 5px;
        -webkit-transform: skewY(0deg);
        -moz-transform: skewY(0deg);
        -ms-transform: skewY(0deg);
        -o-transform: skewY(0deg);
        transform: skewY(0deg);
    }
    .footer .container-fluid {
        box-shadow: 0 3px 6px -2px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        border-top: none;
        -webkit-transform: skewY(1deg);
        -moz-transform: skewY(1deg);
        -ms-transform: skewY(1deg);
        -o-transform: skewY(1deg);
        transform: skewY(1deg);
    }
    .footer .container-fluid .row {
        -webkit-transform: skewY(-1deg);
        -moz-transform: skewY(-1deg);
        -ms-transform: skewY(-1deg);
        -o-transform: skewY(-1deg);
        transform: skewY(-1deg);
    }
    .logos-sponsors {
        display: inline-flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center
    }
    .logo-sponsor {
        display: flex;
        margin: 20px;
        align-items: center;
    }
}

@media(max-width: 697px) {
    footer {
        height: 300px;
    }
}

@media(max-width: 417px) {
    footer {
        height: 400px;
    }
}