.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

header{
  position: fixed;
  top:0;
  right: 0;
  left: 0;
  z-index: 1000;
  height: 80px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#55a549+0,a6c222+100 */
  background: #55a549; /* Old browsers */
  background: -moz-linear-gradient(top, #55a549 0%, #a6c222 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #55a549 0%,#a6c222 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #55a549 0%,#a6c222 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#55a549', endColorstr='#a6c222',GradientType=0 ); /* IE6-9 */
}
header .container-fluid,header .container-fluid .row{
  height: 100%;
}
.teampulse-logo, .race-logo{
  display: flex;
  justify-content: center;
  align-items: center;
}
.teampulse-logo img{
  width: 100%;
  max-width:289px;
  /*max-height:50px;*/
}
.race-logo{
  justify-content: flex-end;
}
.race-logo img{
  width: 100%;
  max-width:111px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
