.news{
	padding-top: 160px;
	padding-bottom: 80px;
}
.map{
	width: 100%;
	padding-top: 80px;
	padding-bottom: 80px;
	background: #A6C222;
}
.socials{
	padding-top: 80px;
	padding-bottom: 80px;
}
.news{
	color: #A6C222;
}
@media(max-width: 992px){
	.news{
		padding-top: 80px;
		padding-bottom: 0;
	}
	.news-media{
		padding-right: 0px;
  	padding-left: 0px;
	}
	.a-la-une{
		padding-right: 0px;
  	padding-left: 0px;
  	width: 100%;
	}
	.map, .socials{
		padding-top: 0px;
    margin-top: 5px;
    padding-bottom: 0px;
	}
	.map .container{
		width: 100%;
		margin: 0 auto;
		padding: 0;
	}
	.socials .container{
		margin-top: 5px;
	}
	.facebook{
		margin-top:10px;
	}
	.footer img{
		max-height: 80px;
		margin-bottom: 20px;
	}
	.footer{
		box-shadow: 0 3px 6px -2px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
		border-top: none;
		margin-bottom: 50px;
	}
}
@media(min-width: 992px){
	.insta .carousel{
		float:left;
		margin-left: 50px; 
	}
	.facebook .carousel{
		float:right;
		margin-right: 50px; 
	}
}
.carousel-control-next {
    margin-right: 10px;
}
.carousel-control-prev {
    margin-left: 20px;
}