.news {
    padding-top: 140px;
    padding-bottom: 100px;
}

.news .slick-next {
    right: -25px;
}

.news .slick-prev {
    left: -25px;
    z-index: 2;
}

.news .slick-slide {
    position: relative;
}

.news .slick-track {
    height: 70vh;
}

.news .slick-slide img {
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: contain;
}

.map {
    width: 100%;
    position: relative;
    background: #A6C222;
}

.map .container {
    padding-top: 60px;
    padding-bottom: 80px;
}

.socials {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #fff;
}

.socials .slick-dots {
    top: -30px;
    bottom: auto;
}

.reseaux-sociaux {
    right: 90px;
}

.news .slick-slider {
    margin-bottom: 0px;
}

.socials .insta-container {
    margin-bottom: 20px;
}

.socials .facebook-container {
    margin-bottom: 20px;
    transition: height 0.5s linear;
    -webkit-transition-property: height;
    -webkit-transition-duration: 0.5s;
}

a.right {
    color: #051392;
    margin: 3px;
    float: right;
}

@media (max-width: 1199px) {
    .reseaux-sociaux {
        right: 0 !important;
    }
}

@media(max-width: 991px) {
    html,
    body {
        overflow-x: hidden;
    }
    .reseaux-sociaux {
        right: auto;
    }
    .news {
        padding-top: 73px;
        padding-bottom: 0;
        margin-bottom: -5px;
    }
    .news .slick-track {
        height: 100%;
    }
    .news .slick-next {
        right: 10px;
    }
    .news .slick-prev {
        left: 10px;
    }
    .news .slick-slide {
        height: 60vh;
    }
    .news .slick-slide img {
        height: 100%;
        width: 100%;
        padding: 0;
        object-fit: cover;
    }
    .news .slick-dots {
        bottom: -30px;
    }
    .news-media {
        padding-right: 0px;
        padding-left: 0px;
    }
    .a-la-une {
        padding-right: 0px;
        padding-left: 0px;
        width: 100%;
    }
    .map,
    .socials {
        padding-top: 0px;
        margin-top: 5px;
        padding-bottom: 0px;
    }
    .map .container {
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }
    .socials .container {
        margin-top: 25px;
    }
    .socials .slick-dots {
        top: -40px;
        bottom: auto;
    }
    .facebook {
        margin-top: 100px;
    }
    .stats-mobile-container {
        background-color: #fff;
        padding-bottom: 20px;
        padding-top: 20px;
    }
    .stats-mobile-container .slick-dots {
        bottom: -20px;
    }
    .stats-desktop-container {
        display: none;
    }
    .stats-value {
        font-size: 3.5em;
    }
    /* 4 Number */
    .stats-value4 {
        width: 60%;
    }
    .stats-desc {
        padding-left: 10px;
        font-size:.7em;
    }
    .stats-unit {
        display: block;
    }
}

#fp-nav {
    display: none;
}

@media(min-width: 992px) {
    #section-1 {
        max-height: 95vh;
    }
    #section-1 .embed-responsive {
        max-height: 70vh !important;
    }
    #section-1 .carousel-item img {
        max-height: 70vh !important;
    }
    .stat {
        padding-right: 25px !important;
        padding-left: 25px !important;
    }
    .stats-mobile-container {
        display: none;
    }
    .stats-desktop-container {
        background-color: #fff;
        padding-bottom: 20px;
        padding-top: 10px;
        position: relative;
        box-shadow: 0 -5px 5px -5px rgba(0, 0, 0, 0.16);
        z-index: 2;
    }
    .stats-desktop-container .stat:after {
        content: '';
        width: 1px;
        height: 60%;
        background: #95989A;
        opacity: .13;
        position: absolute;
        right: -4px;
        top: 20%;
    }
    .stats-desktop-container .stat.last:after {
        background: none;
    }
    .socials .insta-container {
        margin-left: 50px;
        padding-top: 20px;
        margin-bottom: 20px;
        width: 100%;
        max-width: 360px;
    }
    .socials .facebook-container {
        margin-left: 50px;
        padding-top: 20px;
        margin-bottom: 20px;
        width: 100%;
        max-width: 550px;
        height: 700px;
    }
    .socials .slick-dots {
        top: -35px;
    }
    #fp-nav {
        opacity: 0;
        transition: opacity .3s ease-out;
        position: fixed;
        top: 0;
        display: block;
        bottom: 0;
        right: 0;
        margin: auto 0!important;
        width: 32px;
        height: 200px;
        z-index: 99;
        margin-top: -100px;
        opacity: 1;
    }
    #fp-nav ul {
        padding: 0;
        margin: 0;
    }
    #fp-nav li {
        list-style: none;
    }
    #fp-nav li a {
        width: 14px;
        height: 14px;
        transition: all .2s ease-out;
        border-radius: 50%;
        display: block;
        background-color: black;
        border: 2px solid black;
        margin: 10px 0;
        opacity: .2;
        box-sizing: border-box;
    }
    #fp-nav li.active a {
        background-color: #fff;
        border: 2px solid #96BB36;
        opacity: 1;
        transform: scale(1.06);
    }
}

.slick-next:before,
.slick-prev:before {
    color: #ccc !important;
}