.news{
	padding-top: 160px;
	padding-bottom: 80px;
}
.map{
	width: 100%;
	padding-top: 80px;
	padding-bottom: 80px;
	background: #A6C222;
}
.socials{
	padding-top: 80px;
	padding-bottom: 80px;
	background-color: #fff;
}
.news{
	color: #A6C222;
}
@media(max-width: 992px){
	.news{
		padding-top: 80px;
		padding-bottom: 0;
	}
	.news-media{
		padding-right: 0px;
  	padding-left: 0px;
	}
	.a-la-une{
		padding-right: 0px;
  	padding-left: 0px;
  	width: 100%;
	}
	.map, .socials{
		padding-top: 0px;
    margin-top: 5px;
    padding-bottom: 0px;
	}
	.map .container{
		width: 100%;
		margin: 0 auto;
		padding: 0;
	}
	.socials .container{
		margin-top: 5px;
	}
	.facebook{
		margin-top:10px;
	}
}
#fp-nav{
	display: none;
}
@media(min-width: 992px){
	.insta .carousel{
		float:left;
		margin-left: 50px; 
	}
	.facebook .carousel{
		float:right;
		margin-right: 50px; 
	}
	#fp-nav {
    opacity: 0;
    transition: opacity .3s ease-out;
    position: fixed;
    top: 0;
    display: block;
    bottom: 0;
    right: 10px;
    margin: auto 0!important;
    width: 32px;
    height: 200px;
    z-index: 99;
    margin-top: -100px; 
    opacity: 1;
  }
  #fp-nav ul {
    padding: 0;
    margin: 0;
  }
  #fp-nav li {
    list-style: none;
  } 
  #fp-nav li a {
    width: 14px;
    height: 14px;
    transition: all .2s ease-out;
    border-radius: 50%;
    display: block;
    background-color: #fff;
    border: 2px solid #96BB36;
    margin: 10px 0;
    opacity: .2;
    box-sizing: border-box;
  }
  #fp-nav li.active a {
    background-color: #fff;
    border: 2px solid #96BB36;
    opacity: 1;
    transform: scale(1.06);
  }
}
.carousel-control-next {
    margin-right: 10px;
}
.carousel-control-prev {
    margin-left: 20px;
}