.news{
	padding-top: 160px;
	padding-bottom: 80px;
}
.map{
	width: 100%;
	padding-top: 80px;
	padding-bottom: 80px;
	background: #A6C222;
}
.socials{
	padding-top: 80px;
	padding-bottom: 80px;
}

.insta .carousel-inner{
	height: 440px;
	width: 100%;
}
.insta .carousel-control-prev, .facebook .carousel-control-prev{
	left: 40px;
}
.news{
	color: #A6C222;
}
@media(max-width: 768px){
	.news{
		padding-top: 80px;
		padding-bottom: 0;
	}
	.news-media{
		padding-right: 0px;
    	padding-left: 0px;
	}
	.a-la-une{
		padding-right: 0px;
    	padding-left: 0px;
    	width: 100%;
	}
}
@media(min-width: 992px){
	.insta .carousel{
		float:left;
		margin-left: 50px; 
	}
/*	.facebook .carousel{
		float:right;
		margin-right: 50px; 
	}*/
}

