
.tv header {
	position: relative;
	height: 120px;
	-webkit-transform: skewY(0.5deg);
	-moz-transform: skewY(0.5deg);
	-ms-transform: skewY(0.5deg);
	-o-transform: skewY(0.5deg);
	transform: skewY(0.5deg);
	margin-bottom: 20px;
}

.tv header .container-fluid {
	top: 10px;
	-webkit-transform: skewY(-0.5deg);
	-moz-transform: skewY(-0.5deg);
	-ms-transform: skewY(-0.5deg);
	-o-transform: skewY(-0.5deg);
	transform: skewY(-0.5deg);
}

.tv .youtube-container{
	margin-bottom: 20px;
	padding: 20px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.tv .insta-container{
	margin-bottom: 20px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);	 
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	width: 100%;
	max-width: 520px;
	padding: 20px 20px 28px 20px;
	background-image: url(../public/velo.svg);
	background-repeat: no-repeat;
	background-position: -100% 100%;
	background-size: 400px auto;
}
/*
.slick-slide iframe {
	border: none !important;
}
*/
.tv .facebook-container{
	padding-top: 20px;
	margin-bottom: 20px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);	
	padding-top: 20px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	width: 100%;
	max-width: 550px;
}
.tv .stats-container{
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	padding: 20px;
	max-width: 520px;
}
.tv .stats-tv-container{
	background-color: #fff;
	padding-bottom: 30px;
}
.tv .stats-tv-container .slick-dots {
  bottom: -40px;
}

.tv .insta-container .slick-dots {
  bottom: -18px;
}

.tv .facebook-container .slick-dots {
  bottom: 10px;
}

.tv .facebook-container .slick-track {
	  padding-bottom: 40px;
} 

.tv .call-for-action {
	color: white;
	margin-top: 20px;
	font-size: large;
}
.tv .call-for-action p {
	margin-top: 0px;
	margin-bottom: 2px;
}
.tv .call-for-action p:first-child {
	margin-top: 8px;
	margin-bottom: 0px;
}

.strong {
	font-weight: bold;
}

.tv #second-section {
	width: 28%;
	flex: 0 0 28%;
  max-width: 28%;
}

.tv #facebook-section {
	width: 30.333%;
	flex: 0 0 30.333%;
  max-width: 30.333%;
}

.tv .logos{
	float: right;
	width: 200px;
	height: 140px;
	margin-right: 30px;
}

.tv .logos .slick-track{
	height: 170px;
}

.tv .logos. .logo {
	width: 200px;
}

.tv .logos {
	float: right;
	height: 148px;
}

.tv .logos .logo img{
	position: absolute;
	bottom: 0;
	right: 0;
	max-height: 120px;
	max-width: 200px;
}